@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
  margin: 0;
  padding: 0;
  /* font-family: 'Poppins'; */
}

body {
  font-family: 'Montserrat';
}

.pos h1 {
  /* font-weight: bold; */
  color: #593199;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 36px;
}

.pos p {
  /* font-weight: bold; */
  color: #626262;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.twobutton {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.firstbutton button {
  width: 150px;
  padding: 7px;
  border-radius: 10px;
  border-color: white;
  color: #593199;
  border-style: solid;
  background-color: #fff;
  font-size: 20px;
  border: 2px solid;
}

.imds img {
  text-align: center;
  justify-content: center;
  align-items: center;
  /* padding-top: 50px; */
  width: 100% !important;
  height: auto !important;
  /* background-color: black; */

}

a,
a:hover {
  text-decoration: none;
}

.header {
  display: flex;
  width: 150px;
  align-items: center;
  justify-content: center;
  background: #fff;
}

.butn:link,
.butn:visited {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  text-decoration: none;
  background-color: #5e16bd;
  background-image: linear-gradient(90deg, #501aa8, #870de8);
  padding: 1rem 2.5rem;
  height: 50px;
  width: 150px;

  margin-right: 13px;
  border-radius: 10px;
  border: none;
  color: #fff;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.butn::before {
  background: #fff;
  content: "";
  height: 155px;
  opacity: 0;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  width: 50px;
  transition: all 3000ms cubic-bezier(0.19, 1, 0.22, 1);
}

.butn::after {
  background: #fff;
  content: "";
  height: 20rem;
  opacity: 0;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  transition: all 3000ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 8rem;
}

.butn__new::before {
  left: -50%;
}

.butn__new::after {
  left: -100%;
}

.butn:hover,
.butn:active {
  transform: translateY(-3px);
  color: #fff;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
}

.butn__new:hover::before {
  left: 120%;
  opacity: 0.5s;
}

.butn__new:hover::after {
  left: 200%;
  opacity: 0.6;
}

.butn span {
  z-index: 20;
}

.secondheading {
  padding-top: 100px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.secondheading h1 {
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #593199;
  /* font-weight: bold; */
  font-size: 35px;
  padding-top: 20px;
}

.secondheading p {
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 17px;
  color: gray;
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

.posfit {
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  color: #593199;
}

.posfit p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  font-feature-settings: "liga" off;
  color: #6C6C6C;
}

.backbox {
  align-items: center;
  justify-content: center;
  /* text-align: center; */
  border-radius: 35px;
  padding: 30px 0px 30px 0px;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  height: auto !important;
  width: auto !important;
}

.box1 h1 {
  color: #593199;
  font-size: 35px;
  font-weight: 600;
  line-height: 42px;
}

.box1 p {
  font-size: 18px;
  color: gray;
  align-items: center;
  justify-content: center;
  /* text-align: center; */
}

.box1 h3 {
  font-size: 18px;
  color: #593199;
  font-weight: bold;
}

.posimg img {
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 500px !important;
  height: auto !important;
}

.advan h1 {
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #593199;
  /* font-weight: bold; */
  font-size: 40px;
  font-family: 'Montserrat';
}

h1 {
  font-size: 2.5rem;
}

/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.timeline ul {
  /* background: #ad1457; */
  padding: 50px 0;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 10px;
  margin: 0 auto;
  padding-top: 50px;
  background: #F2F2F2;
}

.timeline ul li::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
}

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  background: #F1E4FF;
}

.timeline ul li div::before {
  content: "";
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ul li:nth-child(odd) div {
  left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #501aa8 transparent transparent;
}

.timeline ul li:nth-child(even) div {
  left: -439px;
}

.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #00838f;
}

time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}

/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.timeline ul li::after {
  transition: background 0.5s ease-in-out;
}

.timeline ul li.in-view::after {
  background: #F2F2F2;
}

.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
  transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
  transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}

/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 250px;
  }

  .timeline ul li:nth-child(even) div {
    left: -289px;
    /*250+45-6*/
  }
}

@media screen and (max-width: 600px) {
  .timeline ul li {
    margin-left: 20px;
  }

  .timeline ul li div {
    width: calc(100vw - 91px);
  }

  .timeline ul li:nth-child(even) div {
    left: 45px;
  }

  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #00838f transparent transparent;
  }
}

#meBaby {
  width: 100px;
  height: 135px;
}

.photos {
  width: 100px;
  height: auto;
}

a:visited {
  color: #f8bbd0;
}

a:hover {
  color: #ad1457;
}


/* Layout */
section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

section article {
  width: 960px;
  height: 500px;
}

.heading {
  text-align: center;
}

.heading span {
  color: crimson;
  font-size: 24px;
}

.heading h1 {
  font-size: 36px;
  margin-top: 10px;
}

.content>div {
  width: 50%;
  float: left;
  height: 400px;
  box-sizing: border-box;
}


.title {
  border: 1px solid #ddd;
  padding: 5px;
  border-radius: 3px;
  cursor: pointer;
  padding-left: 15px;
  /* position: relative; */
  transition: 0.3s;
  margin-bottom: 10px;
}

.title:after {
  content: '\f105';
  font-family: fontawesome;
  /* position: absolute;
  right: 10px;
  top: 7px; */
  float: right;
  margin-right: 5px;
  margin-top: 3px;
  transition: 0.3s;
}

.title.active:after {
  transform: rotate(90deg);
  color: orange;
}

.title:hover,
.title.active {
  background-color: #203049;
  color: #fff;
}

.desc {
  padding: 15px;
  display: none;
}

.desc.active {
  display: block;
}

.image {
  text-align: right
}

.image img {
  height: 370px;
}

/* *********************THEATER CARDS STYLINGS********************

/* ANIMATIONS */
@-webkit-keyframes slide-from-left {
  from {
    left: -1000px;
  }

  to {
    left: 0px;
  }
}

@keyframes slide-from-left {
  from {
    left: -1000px;
  }

  to {
    left: 0px;
  }
}

body {
  background-color: #ededed;
  font-size: 16px;
  font-family: 'Montserrat';
  /* font-family: 'Poppins'; */

}

#tmp-special-section {
  display: block;
  max-width: 1100px;
  width: 100%;
  padding: 20px;
  background-color: #fff;
  margin: 20px auto;
  box-sizing: border-box;
}

#tmp-special-section:before,
#tmp-special-section:after {
  box-sizing: border-box;
}

#tmp-special-section *,
#tmp-special-section *:before,
#tmp-special-section *:after {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  transition: all 350ms ease-in-out;
}

#tmp-special-section h3 {
  color: #593199;
  /* font-weight: bold; */
}

#tmp-special-section p a {
  color: #593199;
  text-decoration: none;
}

#tmp-special-section p a:hover,
#tmp-special-section p a:focus {
  text-decoration: underline;
}

#tmp-special-section ul#tmp-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: stretch;
  list-style: none outside;
  margin: 0 auto;
  padding: 0 0 30px;
  overflow: hidden;
}

@media (min-width: 700px) {
  #tmp-special-section ul#tmp-list {
    flex-direction: row;
  }
}

#tmp-special-section ul#tmp-list li {
  float: left;
  width: 100%;
  padding: 0;
  position: relative;
  flex: 0 1 auto;
  align-self: auto;
  margin: 5px auto;
  position: relative;
}

@media (min-width: 700px) {
  #tmp-special-section ul#tmp-list li {
    left: -2000px;
    width: 25%;
    margin: 20px auto;
  }

  #tmp-special-section ul#tmp-list li:first-of-type {
    -webkit-animation: slide-from-left 700ms linear 500ms forwards;
    animation: slide-from-left 700ms linear 500ms forwards;
  }

  #tmp-special-section ul#tmp-list li:nth-of-type(2) {
    -webkit-animation: slide-from-left 750ms linear 1200ms forwards;
    animation: slide-from-left 750ms linear 1200ms forwards;
  }

  #tmp-special-section ul#tmp-list li:nth-of-type(3) {
    -webkit-animation: slide-from-left 750ms linear 1950ms forwards;
    animation: slide-from-left 750ms linear 1950ms forwards;
  }

  #tmp-special-section ul#tmp-list li:nth-of-type(4) {
    -webkit-animation: slide-from-left 750ms linear 2700ms forwards;
    animation: slide-from-left 750ms linear 2700ms forwards;
  }
}

#tmp-special-section ul#tmp-list li:last-of-type {
  /* background-color: gray; */
  /* color: #fff; */
  margin-top: 30px;
}

@media (min-width: 700px) {
  #tmp-special-section ul#tmp-list li:last-of-type {
    margin-top: 5px;
  }
}

#tmp-special-section ul#tmp-list li:last-of-type h3 {
  padding: 10px;
  font-size: 16px;
  /* font-weight: bold; */
  line-height: 100%;
  font-size: 16px;
  padding: 30px 30px;
}

@media (min-width: 700px) {
  #tmp-special-section ul#tmp-list li:last-of-type h3 {
    padding: 0;
    font-size: 16px;
    /* position: absolute; */
    /* top: 150%; */
    left: 50%;
    /* transform: translateY(-50%) translateX(-50%); */
    margin: 0 auto;
  }

  #tmp-special-section ul#tmp-list li:last-of-type h3 span {
    font-size: 16px;
  }
}

@media (min-width: 950px) {
  #tmp-special-section ul#tmp-list li:last-of-type h3 {
    font-size: 23px;
    /* font-weight: bold; */
  }
}

#tmp-special-section ul#tmp-list li:last-of-type h3 span {
  display: block;
  font-size: 18px;
  line-height: 100%;
}

#tmp-special-section ul#tmp-list li:not(:last-of-type):after {
  position: relative;
  display: block;
  content: "";
  height: 15px;
  width: 15px;
  margin: auto;
  background-color: #593199;
}

@media (min-width: 700px) {
  #tmp-special-section ul#tmp-list li:not(:last-of-type):after {
    position: absolute;
    right: 15%;
    top: 0;
    bottom: 0;
    display: block;
    content: "";
    height: 15px;
    width: 15px;
    margin: auto;
    background-color: white;
  }
}

#tmp-special-section ul#tmp-list li h3 {
  padding-top: 15px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0;
}

@media (min-width: 700px) {
  #tmp-special-section ul#tmp-list li h3 {
    margin-right: 30%;
  }
}

@media (min-width: 950px) {
  #tmp-special-section ul#tmp-list li h3 {
    font-size: 22px;
    /* font-weight: bold; */
  }
}

#tmp-special-section ul#tmp-list li p {
  margin-top: 0;
  padding: 5px 0 5px 0;
  font-size: 14px;
}

@media (min-width: 700px) {
  #tmp-special-section ul#tmp-list li p {
    margin-right: 30%;
  }
}

#tmp-special-section .matrix-lg-preview {
  padding: 0;
  outline: none;
  border: none;
}

#tmp-special-section .matrix-lg-preview:focus {
  outline: none;
  border: none;
}

#tmp-special-section .matrix-lg-preview.active {
  padding: 15px 20px;
}

@media (min-width: 950px) {
  #tmp-special-section .matrix-lg-preview.active {
    padding: 20px 40px;
  }
}

#tmp-special-section .matrix-lg-preview h3 {
  color: #593199;
  font-size: 24px;
  margin-top: 0;
  padding: 0;
}

#tmp-special-section .matrix-lg-preview ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: stretch;
  list-style: none outside;
  margin: 0 auto;
  padding: 20px 0 0 0;
}

#tmp-special-section .matrix-lg-preview ul li {
  flex: 0 1 auto;
  align-self: auto;
  margin-bottom: 15px;
  width: 100%;
  max-width: 100%;
}

@media (min-width: 700px) {
  #tmp-special-section .matrix-lg-preview ul li {
    width: 48%;
    max-width: 48%;
  }
}

#tmp-special-section .matrix-lg-preview ul li a {
  background-color: #593199;
  color: #fff;
  display: inline-block;
  width: 100%;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
  opacity: 0.8;
  text-transform: uppercase;
  font-size: 14px;
}

@media (min-width: 950px) {
  #tmp-special-section .matrix-lg-preview ul li a {
    font-size: 16px;
  }
}

#tmp-special-section .matrix-lg-preview ul li a:hover,
#tmp-special-section .matrix-lg-preview ul li a:focus {
  opacity: 1;
}

#tmp-special-section .matrix-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: stretch;
  list-style: none outside;
  margin: 0 auto;
  padding: 0;
}
.sec3{
  display: flex;
  flex-direction: column;
}

@media (min-width: 700px) {
  #tmp-special-section .matrix-list {
    flex-direction: row;
  }
  .sec3{
    display: flex;
    flex-direction: row;
  }
}

#tmp-special-section .matrix-list>div.item {
  flex: 0 1 auto;
  align-self: auto;
  margin-bottom: 15px;
  max-width: 100%;
  width: 100%;
}

@media (min-width: 700px) {
  #tmp-special-section .matrix-list>div.item {
    max-width: calc(100% / 3 - 15px);
    width: calc(100% / 3 - 15px);
  }
}

#tmp-special-section .matrix-list>div.item a {
  display: inline-block;
  width: 100%;
  position: relative;
}

#tmp-special-section .matrix-list>div.item a span {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #593199;
  color: #fff;
  width: 100%;
  line-height: 20px;
  font-size: 18px;
  display: inline-block;
  padding: 10px 15px;
  text-transform: uppercase;
  transition: all 350ms ease-in-out;
  font-size: 12px;
}

@media (min-width: 950px) {
  #tmp-special-section .matrix-list>div.item a span {
    font-size: 16px;
  }
}

#tmp-special-section .matrix-list>div.item a img {
  max-width: 100%;
  width: 100%;
  display: inline-block;
  float: left;
  transition: all 350ms ease-in-out;
}

@media (min-width: 700px) {
  #tmp-special-section .matrix-list>div.item a img {
    filter: url("data:image/svg+xml;utf8,&lt;svg xmlns='http://www.w3.org/2000/svg'&gt;&lt;filter id='grayscale'&gt;&lt;feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale");
    /* Firefox 10+, Firefox on Android */
    filter: gray;
    /* IE6-9 */
    filter: grayscale(1);
  }
}

#tmp-special-section .matrix-list>div.item a:hover span,
#tmp-special-section .matrix-list>div.item a:focus span {
  background-color: #593199;
}

@media (min-width: 700px) {

  #tmp-special-section .matrix-list>div.item a:hover img,
  #tmp-special-section .matrix-list>div.item a:focus img {
    filter: url("data:image/svg+xml;utf8,&lt;svg xmlns='http://www.w3.org/2000/svg'&gt;&lt;filter id='grayscale'&gt;&lt;feColorMatrix type='matrix' values='1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale");
    filter: grayscale(0);
  }
}

#tmp-special-section .matrix-list>div.item a.active+.preview {
  display: inline-block;
  padding: 20px 15px;
}

@media (min-width: 700px) {
  #tmp-special-section .matrix-list>div.item a.active+.preview {
    display: none;
    padding: 0;
  }
}

#tmp-special-section .matrix-list>div.item a.active span {
  opacity: 1;
  background-color: #593199;
}

#tmp-special-section .matrix-list>div.item a.active span:after {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: -20px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #593199;
}

#tmp-special-section .matrix-list>div.item .preview {
  display: none;
  width: 100%;
  padding: 15px;
}

#tmp-special-section .matrix-list>div.item .preview h3 {
  color: #593199;
  font-size: 20px;
  margin-top: 0;
  padding: 0;
}

#tmp-special-section .matrix-list>div.item .preview ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: stretch;
  list-style: none outside;
  margin: 0 auto;
  padding: 0;
}

#tmp-special-section .matrix-list>div.item .preview ul li {
  flex: 0 1 auto;
  align-self: auto;
  margin-bottom: 15px;
  max-width: 100%;
  width: 100%;
}

#tmp-special-section .matrix-list>div.item .preview ul li:first-of-type {
  margin-top: 30px;
}

#tmp-special-section .matrix-list>div.item .preview ul li a {
  background-color: #593199;
  color: #fff;
  display: inline-block;
  width: 100%;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
  opacity: 0.8;
  text-transform: uppercase;
  font-size: 14px;
}

@media (min-width: 950px) {
  #tmp-special-section .matrix-list>div.item .preview ul li a {
    font-size: 16px;
  }
}

#tmp-special-section .matrix-list>div.item .preview ul li a:hover,
#tmp-special-section .matrix-list>div.item .preview ul li a:focus {
  opacity: 1;
}

#tmp-special-section .matrix-list>div.red-box {
  flex: 0 1 auto;
  align-self: auto;
  margin-bottom: 15px;
  max-width: 100%;
  width: 100%;
  position: relative;
}

#tmp-special-section .matrix-list>div.red-box a {
  display: inline-block;
  background-color: gray;
  position: relative;
  height: 100%;
  width: 100%;
}

@media (min-width: 700px) {
  #tmp-special-section .matrix-list>div.red-box a {
    position: absolute;
    top: 0;
    left: 0;
  }
}

#tmp-special-section .matrix-list>div.red-box a:hover,
#tmp-special-section .matrix-list>div.red-box a:focus {
  background-color: #593199;
}

#tmp-special-section .matrix-list>div.red-box span {
  display: inline-block;
  position: relative;
  color: #fff;
  font-size: 20px;
  padding: 40px 15px;
}

@media (min-width: 700px) {
  #tmp-special-section .matrix-list>div.red-box span {
    top: 50%;
    transform: translateY(-50%);
    padding: 0 40px;
  }
}

@media (min-width: 950px) {
  #tmp-special-section .matrix-list>div.red-box span {
    font-size: 22px;
  }
}

@media (min-width: 700px) {
  #tmp-special-section .matrix-list>div.red-box {
    max-width: calc(100% / 3 - 15px);
    width: calc(100% / 3 - 15px);
  }
}

/* *******************DASHBOARD IMG STYLING**************** */


.button-2 {
  position: absolute;
  left: 50%;
  display: inline-block;
  width: 140px;
  height: 50px;
  border: 2px solid gray;
  text-align: center;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  /* border-radius: 10px; */
  /*   margin:0 0 40px 50px; */
}

.button-2 a {
  font-family: arial;
  font-size: 16px;
  color: #34495e;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 50px;
  transition: all .5s ease;
  z-index: 2;
  position: relative;
}

.eff-2 {
  width: 140px;
  height: 50px;
  top: -50px;
  background: #593199;
  position: absolute;
  transition: all .5s ease;
  z-index: 1;
}

.button-2:hover .eff-2 {
  top: 0;
}

.button-2:hover a {
  color: white;
}

.center {
  position: absolute;
  top: 83%;
  /* left:50%; */
  transform: translate(-50%, -50%);
}


/* *******************DASHBOARD IMG STYLING END**************** */


/* *****************footer styling********************** */

/* footer start  */
.bg-footer {
  background: #0b0d17;
}

.copyrightPara {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  font-feature-settings: "liga" off;
  color: #d9dbe1;
}

.linkHead {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  font-feature-settings: "liga" off;
  color: #d6b1ff;
}

.linkPara {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  font-feature-settings: "liga" off;
  color: #eeeff4;
}

.badge-secondary {
  color: #2ec5ce;
  font-style: italic;

  background: none;
}

/* .iconsimg img {
  transition: 1s ease;
}

.iconsimg img:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 1s ease;
}

.iconsimg img:hover {
  color: darkred;
  transition: 0.2s;
} */

/* footer end  */


/* ************************************************************************ */
 section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

section:nth-child(1) {
  color: #e0ffff;
}

section:nth-child(2) {
  color: #42455a;
  background: #e0ffff;
}

section:nth-child(3) {
  color: #e0ffff;
}

section:nth-child(4) {
  color: #42455a;
  background: #e0ffff;
}

section .container {
  margin: 100px;
}

section h1 {
  font-size: 3rem;
  margin: 20px;
}

section h2 {
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
}

section .text-container {
  display: flex;
}

section .text-container .text-box {
  margin: 20px;
  padding: 20px;
  background: #00c2cb;
}

section .text-container .text-box h3 {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}

@media (max-width: 900px) {
  section h1 {
    font-size: 2rem;
    text-align: center;
  }

  section .text-container {
    flex-direction: column;
  }
}

.reveal {
  position: relative;
  opacity: 0;
}

.reveal.active {
  opacity: 1;
}

.active.fade-bottom {
  animation: fade-bottom 1s ease-in;
}

.active.fade-left {
  animation: fade-left 1s ease-in;
}

.active.fade-right {
  animation: fade-right 1s ease-in;
}

@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}








